:root {
    --blue: #2196F3;
    --gray: #757575;
    --black: #212121;
    --white: #FFFFFF;
    --primary-font: 'Roboto' sans-serif;
    --secondary-font: 'Raleway' sans-serif;
}

.header {
  
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__logo a {
    text-decoration: none;
    list-style: none;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 30.52px;
    letter-spacing: 0.03em;
    text-align: left;
    color:#212121;
    
}

.header__navigation ul {
    list-style: none;
    text-decoration: none;
    color:#212121; 
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2%;
    display: flex;
    gap: 40px;
}
.header__navigation a {
    color:#212121;
    text-decoration: none;
}

.header__navigation a:focus,
.header__navigation :hover {
    color:#2196F3;
}

.header__info ul {
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2%;
    display: flex;
    gap: 40px;
}

.header__info a {
    color:#212121;
    text-decoration: none;
}

.header__info a:focus,
.header__info a:hover {
    color:#2196F3;
}

body {
    font-family: Roboto;
    color:#212121
}

.fisrst-section {
    background-color: #2F303A;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1600px;

}

.title {
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
    color:#FFFFFF;
    padding-top: 200px;
    padding-bottom: 30px;
    
   
}

.head-button {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
    background-color:#2196F3;
    color:#FFFFFF;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    width: 200px;
    margin-bottom: 200px;
    padding-top: 10px;
    padding-bottom: 10px;

 

}

.head-button:hover {
    background-color: #2196F3;
    color:#FFFFFF;
}

h3 {
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    text-align: left;


}

.description {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;

 
}

.description__title {

    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    text-align: left;
    width: 270px;
    height: 16px;



}

.description__1, .description__2, .description__3, .description__4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #757575; 
    

} 

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    letter-spacing: 0.03em;
    text-align: center;

}


.btn ul {
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    cursor: pointer;
    
}


.btn__btn-1 {
    color: #FFFFFF;
    background-color: #2196F3;
}

.btn__btn-1:hover,
.btn:focus {
    background-color: #2196F3;
    color:#FFFFFF;
}


.btn__btn-2:hover,
.btn:focus {
    background-color: #2196F3;
    color:#FFFFFF;
}

.btn__btn-3:hover,
.btn:focus {
    background-color: #2196F3;
    color:#FFFFFF;
}

.btn__btn-4:hover,
.btn:focus {
    background-color: #2196F3;
    color:#FFFFFF;
}

.btn__btn-5:hover,
.btn:focus {
    background-color: #2196F3;
    color:#FFFFFF;
}
.footer {
}
.footer__logo a {
    text-decoration: none;
    list-style: none;
    font-family: Raleway;
    color: #212121;  
    font-size: 26px;
    font-weight: 700;
    line-height: 30.52px;
    letter-spacing: 0.03em;
  
}

.footer__address {
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    text-align: left;

}

.footer__address-info ul {
    list-style: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2%;  
    font-style: normal;

      
}



.footer__address-info a:hover,
.footer__address-info a:focus {
    color:#2196F3;
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.imagini1 {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;

}

.imagini2 {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;

}
